/* Register.css - Scoped Styles */
.register-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background: linear-gradient(to right, var(--background), var(--secondary));
    width: 100vw;
}

.register-radio-group {
    color: var(--primary);
}

.register-box {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    width: 350px;
    text-align: center;
}

.register-title {
    margin-bottom: 20px;
    font-size: 22px;
    color: var(--primary);
}

.register-form-group {
    margin-bottom: 15px;
    text-align: left;
}

.register-form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: var(--primary);
}

.register-input {
    width: 94%;
    padding: 10px;
    border: 1px solid var(--secondary);
    border-radius: 5px;
    font-size: 16px;
    background-color: white;
    color: var(--primary);
}

.register-error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: block;
}

.register-btn {
    width: 94%;
    padding: 10px;
    background: var(--highlight);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.register-btn:hover {
   background-color: var(--accent); /* Slightly darker shade of highlight */
}

.register-login-text {
    margin-top: 10px;
    font-size: 14px;
    color: var(--primary);
}

.register-login-btn {
    display: inline-block;
    width: 89%;
    padding: 10px;
    background: var(--highlight);
    color: white;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
}

.register-login-btn:hover {
      background-color: var(--accent);
}
